{% extends 'blog/base.html' %}

{% block title %}Запись блога{% endblock %}

{% block content %}

<h1> Запись блога </h1>

<div class="row text-center" style="grid-template-columns: 1fr 1fr 1fr;">
    <div class="card col-3 mt-5 mx-3 px-0 pb-3">
        {% if blog_record.preview %}
            <img src="{{ blog_record.preview.url }}" alt="..." style="max-width: 500px;">
        {% endif %}
          <div class="card-header">
              <h5 class="card-title">{{ blog_record.title }}</h5>
        </div>
        <div class="card-body">
            <p>{{ blog_record.content }}</p>
        </div>
        <a class="btn btn-outline-secondary" style="border-radius:5px" href="{% url 'blog:blog_list' %}" role="button">
            Назад
        </a>
    </div>
</div>

{% endblock %}