{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Заголовок страницы {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav>
        {% block menu %}
        {% endblock %}
    </nav>
    <div class="container mb-5" style="height:100vh">
        {% block content %} {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>