{% extends 'catalog/base.html' %}

{% block title %}Подробная информация о товаре{% endblock %}

{% block content %}

<h1> Информация о товаре </h1>
<!--{{ product }}-->

<div class="row text-center" style="grid-template-columns: 1fr 1fr 1fr;">
    <div class="card col-3 mt-5 mx-3 px-0 pb-3">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="..." style="max-width: 500px;">
        {% endif %}
          <div class="card-header">
              <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <div class="card-body">
            <h3>{{ product.price }} руб.</h3>
            <p class="card_text">Категория: {{ product. }}</p>
            <p>{{ product.description }}</p>
        </div>
        <a class="btn btn-outline-primary" style="border-radius:5px" href="{% url 'catalog:product_list' %}" role="button">
            Назад
        </a>
    </div>
</div>

{% endblock %}